body{
    background: red;
}

/*Una vez decargada y descomprimida la fuente en la carpeta de trabajo, 
mandamos llamar de la siguiente manera:*/
@font-face {
    font-family: MontserratFuenteCustom;
    src: url(Montserrat/Montserrat-Regular.ttf);
}

h1{
    /*Luego de pegar la fuente en "html" llamrala desde "css" así:*/
    /*font-family: 'Mansalva', cursive;;*/
    font-family: MontserratFuenteCustom; /*Y colocamos la fuente*/
    font-style: italic;

    /*Colores*/

    /*Colores del sistema*/
    color: darkmagenta;

    /*Colores hexadecimales*/
    color: #000080;

    /*Colores RGB*/
    background-color: rgb(92, 141, 37); /*Si solo se desea usar el "RGB" de un "RGBA" 
    sin transparencia cambiamos a "RGB" y quitamos el 4to digito que perteneces a la opacidad*/
    
    /*Colores RGBA*/
    background-color: rgba(9, 40, 26, 0.3);
}

h3{
    font-family: Calibri;
    font-size: 20px; /**********Medidas en "px" "em" y "%" NOTA: Un "em" es igual a 16px **********/
    font-weight: lighter;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

