/*****ATRIBUTOS CSS*****/

/*Unidades de longitud absoluta*/

/*
0cm
0mm
0in
0pc
0pt
0px
*/

/*Unidades de longitud relativa*/

/*
0em
0ex
0ch
0rem
01ch
0vw
0vh
0vmin
0vmax
*/

/*Porcentajes*/

/*
0%
*/

* {
     color: #009000;
     color: #009000;
}

/*Sirve para indicar el color del texto. Lo admiten casi todas las etiquetas de HTML.
Valor RGB o Nombre de color. No todos los nombres de colores son admitidos en el estandar, 
es aconsejable entonces utilizar el valor RGB.*/

* {
     font: ;

     font-size: small;
     font-size: x-small;
     font-size: xx-small; 
     
     font-size: medium;
     
     font-size: large;
     font-size: x-large;
     font-size: xx-large;

/*Unidades de longitud absoluta*/
     font-size: 0cm;
     font-size: 0mm;
     font-size: 0in;
     font-size: 0pc;
     font-size: 0pt;
     font-size: 0px;

/*Unidades de longitud relativa*/
     font-size: 0em;
     font-size: 0ex;
     font-size: 0ch;
     font-size: 0rem;
     font-size: 01ch;
     font-size: 0vw;
     font-size: 0vh;
     font-size: 0vmin;
     font-size: 0vmax;

     /*Porcentajes*/
     font-size: 0%;
}

/*Sirve para indicar el tamano de las fuentes de manera mas rigida y con mayor exactitud.*/

* {
     font-family: serif;
     font-family: sans-serif;
     font-family: cursive;
     font-family: fantasy;
     font-family: monospace;

}

/*Con este atributo se indica la familia de tipografia del texto. Los primeros valores son genericos; es decir, los exploradores
las comprenden y utilizan las fuentes que el usuario tenga en su sistema.*/
            
*{
     font-weight: 100;
     font-weight: 900;

     font-weight: normal;
     font-weight: bold;
     font-weight: bolder;
     font-weight: lighter;
}

/*Sirve para definir la anchura de las carateres o dicho de otra manera, para poner negrillas con total libertad, Normal y 400
son el mismo valor, asi como bold y 700.*/
    
*{
     font-style: normal;
     font-style: italic;
     font-style: oblique;
}

/*Es el estilo de la fuente, que puede ser normal, italica y oblicua. El estilo oblique es similar al italica.*/

*{
     line-height: normal;

/*Unidades de longitud absoluta*/
     line-height: 0cm;
     line-height: 0mm;
     line-height: 0in;
     line-height: 0pc;
     line-height: 0pt;
     line-height: 0px;

/*Unidades de longitud relativa*/
     line-height: 0em;
     line-height: 0ex;
     line-height: 0ch;
     line-height: 0rem;
     line-height: 01ch;
     line-height: 0vw;
     line-height: 0vh;
     line-height: 0vmin;
     line-height: 0vmax;

/*Porcentajes*/
     line-height: 0%;
}

/*El alto de una linea y por tanto, el espaciado entre lineas. Es una de esas caracteristicas que no se podian modificar
utiliznado HTML.*/

*{
     text-decoration: dashed;
          /*Especifica la decoración añadida al texto.*/
     text-decoration: none;
     text-decoration: overline;
     text-decoration: line-through;

     text-decoration-color: color | initial | inherit;
          /*Especifica el color de la decoración del texto (subrayado, sobre-rayado, líneas continuas).*/
     text-decoration-line: none | underline | overline | line-through | initial | inherit;
          /*Establece el tipo de decoración de texto que se utilizará (como subrayado, sobre-rayado, traspaso).*/
     text-decoration-style: solid | double | dotted | dashed | wavy | initial | inherit;
          /*Establece el estilo de la decoración del texto (como sólido, ondulado, punteado, discontinuo, doble).*/

}

/*Para establecer la decoracion del un texto; es decir, si esta subrayado, sobrerayado o tachado.*/

*{
     text-align: start;
          /*Indica la alineación horizontal del texto en un elemento.*/
     text-align: center;
     text-align: right;
     text-align: justify;
     text-align: left;

     text-align-last: auto | left | right | center | justify | start | end | initial | inherit;
          /*Especifica cómo alinear la última línea de un texto.*/
}

/*Sirve para indicar la alineacion del texto. Es interesante destacar que las hojas de estilo permiten el justificado
de texto, aunque recuerda que no tiene por que funcionar en todos los sistemas.*/

*{
     text-indent: 0%;
          /*Indica la sangría de la primera línea en un bloque de texto.*/

/*Unidades de longitud absoluta*/
     text-indent: 0cm;
     text-indent: 0mm;
     text-indent: 0in;
     text-indent: 0pc;
     text-indent: 0pt;
     text-indent: 0px;

/*Unidades de longitud relativa*/
     text-indent: 0em;
     text-indent: 0ex;
     text-indent: 0ch;
     text-indent: 0rem;
     text-indent: 01ch;
     text-indent: 0vw;
     text-indent: 0vh;
     text-indent: 0vmin;
     text-indent: 0vmax;

/*Porcentajes*/
     text-indent: 0%;
}

/*Un atributo que sirve para hacer sangrado o margenes en las paginas, Muy util y novedoso.*/

*{
     text-transform: none;
          /*Controla las mayúsculas del texto*/
     text-transform: capitalize;
     text-transform: uppercase;
     text-transform: lowercase;
     text-transform: none;
}

/*Permite transformar el texto, haciendo que tenga la primera letra en mayusculas de todas las palabras, todo en mayusucula o minusculas.*/

*{
     text-justify: auto | inter-word | inter-character | none | initial | inherit;
          /*Especifica el método de justificación del texto cuando text-align se establece en «justify».*/
     text-overflow: clip | ellipsis | string | initial | inherit;
          /*Especifica cómo se debe señalar al usuario el contenido desbordado que no se muestra.*/
     text-shadow: h-shadow v-shadow blur-radius color | none | initial | inherit;
          /*Agrega sombra al texto.*/
}

*{
     background-color: #000055;
     background-color: green;
}

/*Sirve para indicar el color de fondo de un elemento de la pagina.*/

*{
     background-image: url(..//);
     background-image: url(http://);
}

/*Colocamos con este atributo una imagen de fondo en cualquier elemento de la pagina.*/

*{
     margin: auto

     margin-top: 0%;
     margin-right: 0px;
     margin-bottom: 0em;
     margin-left: 0ex;

/*Unidades de longitud absoluta*/

/*Unidades de longitud relativa*/

/*Porcentajes*/

}

/*Indicamos el tamaño del margen de todos los lados, arriba, derecha, abajo e izquierda. Un márgen 
es el espacio que hay entre una caja y el contenido que tiene alrededor.*/

*{
     padding: 0%;

     padding-top: ;
     padding-right: ;
     padding-bottom: ;
     padding-left: ;

/*Unidades de longitud absoluta*/

/*Unidades de longitud relativa*/

/*Porcentajes*/
}

/*Indicamos el espacio insertado entre el borde del elemento y contenido todos los lados, arriba, derecha, 
abajo e izquierda. Este atributo expresa el espacio que hay entre el borde de la caja y el contenido de la caja.*/

*{
     border: 0px;

     border-color: #000055;
     border-top-color: #000055;
     border-right-color: #000055;
     border-bottom-color: #000055;
     border-left-color: #000055;
}

/*Este atributo sirve para definir el estilo, color y grosura del borde de las cajas. Se puede poner colores
por separado con los atributos borer-top-color, border-right-color, border-bottom-color, border-left-color.*/

*{
     border-style: none;
     border-style: dotted;
     border-style: dashed;
     border-style: solid;
     border-style: double;
     border-style: ridge;

/*EFECTOS 3D*/

     border-style: groove;
     border-style: hidden;
     border-style: inherit;
     border-style: initial;
     border-style: inset;
     border-style: outset;

}

/*El estilo del borde, los valores significan: none=ninugno, dotted=punteado (no parece funcionar),
dashed=punteado, solid=solido, double=doble border & ridge=cresta. Y desde groove hasta outset son bordes 
con varios efetos 3D.*/

*{
     border-width: 0px;

/*Unidades de longitud absoluta*/

/*Unidades de longitud relativa*/

/*Porcentajes*/
}

*{
     border-bottom-left-radius: length | % [length|%] | initial | inherit;
          /*Define el radio de la esquina inferior izquierda.*/
     border-bottom-right-radius: length |% [length |%] | initial | inherit;
          /*Define el radio de la esquina inferior derecha.*/
     border-bottom-style: none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | inherit;
          /*Establece el estilo del borde inferior de un elemento*/
     border-bottom-width: medium | thin | thick | length | initial | inherit;
          /*Establece el ancho del borde inferior de un elemento.*/

/*Unidades de longitud absoluta*/

/*Unidades de longitud relativa*/

/*Porcentajes*/
}

*{
     border-collapse: separate | collapse | initial | inherit; 
          /*Establece si los bordes de la tabla deben contraerse en un solo borde o estar separados como en HTML estándar*/
     border-image: source slice width outset repeat | initial | inherit;
          /*Permite especificar una imagen para usarla como borde alrededor de un elemento*/
     border-image-outset: length | number | initial | inherit;
          /*	Especifica la cantidad en la que el área de la imagen del borde se extiende más allá del cuadro del borde.*/
     border-image-repeat: stretch | repeat | round | space | initial | inherit;
          /*Especifica si la imagen del borde debe repetirse, redondearse, espaciarse o estirarse*/
     border-image-slice: number | % | fill | initial | inherit;
          /*Especifica cómo dividir la imagen indicada por border-image-source. La imagen siempre se divide en nueve secciones: cuatro esquinas, cuatro bordes y el medio.*/
     border-image-source: none | image | initial | inherit;
          /*Especifica la ruta a la imagen que se usará como borde (en lugar del borde normal alrededor de un elemento).*/
     border-image-width: number | % | auto | initial | inherit;
          /*Establece el ancho de la imagen del borde.*/
     border-radius: length | % / 1-4 length | % | initial | inherit;
          /*Define el radio de las esquinas del borde del elemento.*/
     border-spacing: length | initial | inherit;
          /*Establece la distancia entre los bordes de las celdas adyacentes.*/
     border-style: none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | inherit;
          /*Establece el estilo de los cuatro bordes de un elemento. Esta propiedad puede tener de uno a cuatro valores.*/
     border-width: medium | thin | thick | length | initial | inherit;
          /*Establece el ancho de los cuatro bordes de un elemento. Esta propiedad puede tener de uno a cuatro valores*/
     
/*Unidades de longitud absoluta*/

/*Unidades de longitud relativa*/

/*Porcentajes*/
}

/*Indica la anchura del borde del elemento al que se le aplica.*/

*{
     float: ;
          /*Especifica si un elemento debe flotar a la izquierda, a la derecha o no flotar en absoluto. Los elementos 
          posicionados de manera absoluta ignoran la propiedad float. Los elementos junto a un elemento flotante 
          fluirán a su alrededor. Para evitar esto, use la propiedad clear*/
     float: right;
     float: left;
     float: none;
}

/*Sirve para alinear un elemento a la izquierda o la derecha haciendo que le texto se agrupe alrededor de dicho
elemento. Igual que el atributo align en imagenes en sus valores right y left.*/

*{
     clear: none | left | right | both | initial | inherit;
          /*Controla el flujo junto a los elementos flotantes.*/
     clear: none;
     clear: right;
     clear: left;
     clear: both;
}

/*Si este elemento tiene a su altura imagenes u otros elementos alineados a la derecha o la izquierda. Con el 
atributo clear hacemos que se coloque en un lugar donde ya no tenga esos elementos al lado que se indique*/

.elemento {
     animation: /*Nombre duración retardo número-de-iteraciones dirección estado-de-la-animación*/; 
          /*Especifica las animaciones basadas en keyframes.*/
     animation-delay: | time | initial | inherit; 
          /*Define el número de segundos (s) o milisegundos (ms) a esperar antes de que comience la animación*/
     animation-direction: normal | reverse | alternate | alternate-reverse | initial | inherit; 
          /*Define si una animación debe reproducirse hacia adelante, hacia atrás o en ciclos alternos*/
     animation-duration: time | initial | inherit;; 
          /*Especifica cuánto tiempo debe tomar una animación para completar un ciclo.*/
     animation-fill-mode: none | forwards | backwards | both | initial | inherit; 
          /*Especifica un estilo para el elemento cuando la animación no se está reproduciendo.*/
     animation-iteration-count: number | infinite | initial | inherit; 
          /*Indica el número de veces que se debe reproducir una animación.*/
     animation-name: nombrekeyframe | none | initial | inherit;
          /*Especifica un nombre para la animación @keyframes.*/
     animation-play-state: paused | running | initial | inherit;
          /*Esta propiedad indica si la animación está en ejecución o en pausa.*/
     animation-timing-function: linear | ease | ease-in | ease-out | ease-in-out | step-start | step-end | steps(int,start|end) | cubic-bezier(n,n,n,n) | initial | inherit; 
          /*Especifica el TIEMPO que usa una animación para cambiar de un conjunto de estilos CSS a otro.*/
}

.elemento {
     backface-visibility: visible | hidden | initial | inherit;
          /*Define si la cara posterior de un elemento debe ser visible o no cuando mira al usuario. Esta propiedad 
          es útil cuando se gira un elemento. Te permite elegir si el usuario debe ver la cara posterior o no.*/
}

.elemento {
     background-attachment: scroll | fixed | local | initial | inherit;
          /*Establece si una imagen de fondo se desplaza con el resto de la página o si es fija.*/
}

.elemento {
     background-blend-mode: normal | multiply | screen | overlay | darken | lighten | color-dodge | saturation | color | luminosity;
          /*Define el modo de fusión de cada capa de fondo (color y/o imagen).*/
}

.elemento {
     background-clip: border-box | padding-box | content-box | initial | inherit;
          /*Indica hasta dónde debe extenderse el fondo (color o imagen) dentro de un elemento.*/
}

.elemento {
     background-origin: padding-box | border-box | content-box | initial | inherit;
          /*Especifica la posición de origen (el área de posicionamiento de fondo) de una imagen de fondo.*/
}

.elemento {
     background-position: left top | left center | left bottom | right top | right center | right bottom | center top | center center | center bottom;
          /*	Establece la posición inicial de una imagen de fondo. El primer valor es la posición horizontal y 
          el segundo la posición vertical.*/
}

.elemento {
     background-repeat: repeat | repeat-x | repeat-y | no-repeat | initial | inherit;
          /*Estable cómo o sí se repetirá una imagen de fondo.*/
}

.elemento {
     background-size: auto | length | cover | contain | initial | inherit;
          /*Establece el tamaño de las imágenes de fondo.*/
}

.elemento {
     bottom: auto | length | initial | inherit;
          /*Afecta a la posición vertical de un elemento posicionado. Esta propiedad no tiene efecto en elementos no posicionados.*/
}

/*******************************************************Flex-Box*******************************************************/

.elemento {
     justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | initial | inherit;
          /*Alinea los elementos del contenedor flexible cuando los elementos no utilizan todo el espacio disponible en el eje principal (horizontalmente).*/
}

.elemento {
     align-items: 
     flexbox align-items: flex-start | flex-end | center | baseline | stretch; 
     grid align-items: start | end | center | baseline | stretch;
          /*Especifica la alineación predeterminada de los elementos dentro del contenedor flexible cuando dichos elementos ocupan una sola linea.*/

     display: inline | block | contents | flex | grid | inline-block | inline-flex | inline-table | |
          /*Establece el comportamiento de visualización (el tipo de cuadro de representación) de un elemento.*/
     box-decoration-break: slice | clone | initial | inherit | unset;
          /*Especifica como se aplican las propiedades background, padding, border, border-image, box-shadow, margin, y clip-path de un elemento cuando la caja de un elemento está fragmentada.*/
     box-shadow: 	none | h-offset v-offset blur spread color | inset | initial | inherit;
          /*Adjunta una o más sombras a un elemento.*/
     box-sizing: content-box | border-box | initial | inherit;
          /*Define cómo se calculan el ancho y el alto de un elemento: si deben incluir relleno y bordes, o no.*/
}    

.elemento {
     break-after: auto | all | always | avoid | avoid-column | avoid-page | avoid-region | column | left | page | recto | region | right | verso | initial | inherit;
          /*Especifica si se debe producir o no un salto de página, un salto de columna o un salto de región después del elemento especificado.*/
     break-before: auto | all | always | avoid | avoid-column | avoid-page | avoid-region | column | left | page | recto | region | right | verso | initial | inherit;
          /*Especifica si se debe producir o no un salto de página, un salto de columna o un salto de región antes del elemento especificado.*/
     break-inside: auto | all | always | avoid | avoid-column | avoid-page | avoid-region | column | left | page | recto | region | right | verso | initial | inherit;
          /*Especifica si se debe producir o no un salto de página, un salto de columna o un salto de región dentro del elemento especificado. */
}

.elemento {
     caption-side: top | bottom | initial | inherit;
          /*Especifica la ubicación de un título de tabla*/
     caret-color: auto | color | initial | inherit;
          /*Especifica el color del cursor (signo de intercalación) en entradas, áreas de texto o cualquier elemento que sea editable.*/
}

.elemento {
     flex: lex-grow flex-shrink flex-basis | auto | initial | inherit;
          /*Es una propiedad abreviada para: flex-grow | flex-shrink | flex-basis. Establece la longitud flexible en elementos flexibles.*/
     flex-basis: number | auto | initial | inherit;
          /*Especifica la longitud inicial de un elemento flexible.*/
     flex-direction: row | row-reverse | column | column-reverse | initial | inherit;
          /*Esta propiedad indica la dirección de los elementos flexibles.*/
     flex-flow: flex-direction flex-wrap | initial | inherit;
          /*Es una abreviatura para las propiedades: flex-direction | flex-wrap. Si los elementos no son elementos 
          flexibles, la propiedad de flujo flexible no tiene efecto.*/
     flex-grow: number | initial | inherit;
          /*Especifica cuánto crecerá el elemento en relación con el resto de elementos flexibles dentro del mismo contenedor.*/
     flex-shrink: number | initial | inherit;
          /*Establece cómo se encogerá el elemento en relación con el resto de los elementos flexibles dentro del mismo contenedor.*/
     flex-wrap: nowrap | wrap | wrap-reverse | initial | inherit;
          /*La propiedad especifica si los elementos flexibles deben ajustarse o no.*/
}


@charset «charset»;
     /*La regla @charset especifica la codificación de caracteres utilizada en la hoja de estilo.*/

.elemento {
     clip: auto | shape | initial | inherit;
          /*Permite especificar un rectángulo para recortar un elemento absolutamente posicionado. El rectángulo se especifica como cuatro coordenadas, todas desde la esquina superior izquierda del elemento que se va a recortar.
          No funciona con «overflow: visible».*/
     clip-path: clip-source | basic-shape | margin-box | border-box | padding-box | content-box | fill-box | stroke-box | view-box | none | initial | inherit;
          /*Permite recortar un elemento a una forma básica o a una fuente SVG.*/
}

.elemento {
     column-count: number | auto | initial | inherit;
          /*Especifica el número de columnas en las que se debe dividir un elemento.*/
     column-fill: balance | auto | initial | inherit;
          /*Especifica cómo llenar columnas, equilibradas o no.*/
     column-gap: length | normal | initial | inherit;
          /*Establece el espacio entre las columnas.*/
     column-rule: column-rule-width column-rule-style column-rule-color | initial | inherit;
          /*	Establece el ancho, el estilo y el color de la regla entre columnas.*/
     column-rule-color: color | initial | inherit;
          /*Especifica el color de la regla entre columnas.*/
     column-rule-style: none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | inherit;
          /*Indica el estilo de la regla entre columnas.*/
     column-rule-width: medium | thin | thick | length | initial | inherit;
          /*Especifica el ancho de la regla entre columnas.*/
     column-span: none | all | initial | inherit;
          /*Especifica cuántas columnas debe abarcar un elemento.*/
     column-width: auto | length | initial | inherit;
          /*Establece el ancho de una columna.*/
     columns: auto | column-width column-count | initial | inherit;
          /*Es una propiedad abreviada para: column-width | column-count*/
}

.elemento {
     content: normal | none | counter | attr | string | open-quote | close-quote | no-open-quote | no-close-quote | url | initial | inherit;
          /*Se utiliza con los pseudo-elementos ::before y ::after, para insertar contenido generado*/
     counter-increment: none | id | initial | inherit;;
          /*Aumenta o disminuye el valor de uno o más contadores CSS.*/
     counter-reset: none | name number | initial | inherit;;
          /*Crea o restablece uno o más contadores CSS. Generalmente se usa junto con las propiedades counter-increment y content.*/

     cursor: cursor: valor;
          /*Especifica el cursor del ratón que se mostrará cuando se apunte sobre un elemento.*/
     direction: ltr | rtl | initial | inherit;
          /*Especifica la dirección del texto o la dirección de escritura dentro de un elemento a nivel de bloque.*/
     empty-cells: show | hide | initial | inherit;
          /*Establece si mostrar o no los bordes en las celdas vacías de una tabla.*/
     filter: none | blur() | brightness() | contrast() | drop-shadow() | grayscale() | hue-rotate() | invert() | opacity() | saturate() | sepia() | url();
          /*Define efectos visuales (como desenfoque y saturación) a un elemento (a menudo utilizado para imágenes).*/
}

@font-face  {
     font-properties
   }
     /*Se deben definir un nombre para la fuente (por ejemplo, miFuente), y luego apuntar al archivo de fuente.*/

.elemento{
     font-feature-settings: normal | feature-value;
          /*Permite el control sobre características tipográficas avanzadas en fuentes OpenType.*/
     font-kerning: auto | normal | none;
          /*Controla el uso de la información de interletraje almacenada en una fuente.*/
     font-size-adjust: number | none | initial | inherit;
          /*Le brinda un mejor control del tamaño de la fuente cuando la primera fuente seleccionada no está disponible. 
            Cuando una fuente no está disponible, el navegador usa la segunda fuente especificada. Esto podría resultar 
            en un gran cambio para el tamaño de fuente. Para evitar esto, utilice la propiedad font-size-adjust.*/
     font-stretch: ultra-condensed | extra-condensed | condensed | semi-condensed | normal | semi-expanded | expanded | extra-expanded | ultra-expanded | initial | inherit;
          /*Le permite hacer que el texto sea más angosto (condensado) o más ancho (expandido).*/
     font-variant: normal | small-caps | initial | inherit;
          /*Especifica si un texto debe mostrarse o no en mayúsculas pequeñas.*/
     font-variant-caps: normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps | initial | inherit | unset;
          /*Controla el uso de glifos alternativos para letras mayúsculas.*/
}

.elemento{
     gap: row-gap column-gap;
          /*Define el tamaño del espacio entre las filas y las columnas.*/
     grid: none | grid-template-rows / grid-template-columns | grid-template-areas | grid-template-rows / [grid-auto-flow] grid-auto-columns | [grid-auto-flow] grid-auto-rows / grid-template-columns | initial | inherit;
          /*Es una abreviatura para las propiedades:
               - grid-template-rows
               - grid-template-columns
               - grid-template-areas
               - grid-auto-rows
               - grid-auto-columns
               - grid-auto-flow
          */
     grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end | itemname;
          /*
          Especifica el tamaño y la ubicación de un elemento de cuadrícula en un diseño de cuadrícula y es una propiedad abreviada para las siguientes propiedades:
               - grid-row-start
               - grid-column-start
               - grid-row-end
               - grid-column-end
          */
     grid-auto-columns: auto | max-content | min-content | length;
          /*Establece un tamaño para las columnas en un contenedor grid.*/
     grid grid-auto-flow: row | column | dense | row dense | column dense;
          /*Controla cómo se insertan en la cuadrícula los elementos colocados automáticamente.*/
     grid-auto-rows: auto | max-content | min-content | length;
          /*Establece un tamaño para las filas en un contenedor de cuadrícula.*/
     grid-column: grid-column-start / grid-column-end;
          /*
          Especifica el tamaño y la ubicación de un elemento de cuadrícula en un diseño de cuadrícula y es una propiedad abreviada para las siguientes propiedades:
               - grid-column-start
               - grid-column-end
          */
     grid-column-start: auto | span n | column-line;
          /*Define en qué línea de columna comenzará el elemento.*/
     grid-column-end: auto | span n | column-line;
          /*Define cuántas columnas abarcará un elemento, o en qué línea de columna terminará el elemento.*/
     grid-row: grid-row-start / grid-row-end;
          /*
          Especifica el tamaño y la ubicación de un elemento de cuadrícula en un elemento grid y es una propiedad abreviada para las siguientes propiedades:
               - grid-row-start
               - grid-row-end
          */
     grid-row-start: grid-row-start: auto|row-line; 
          /*Define en qué línea de fila comenzará el elemento.*/
     grid-row-end: auto | row-line | span n;
          /*Define cuántas filas abarcará un elemento, o en qué línea de fila terminará el elemento.*/
}

.elemento {
     grid-template: none | grid-template-rows / grid-template-columns | grid-template-areas | initial | inherit;
          /*
          Es una propiedad abreviada para las siguientes propiedades:
               - grid-template-rows
               - grid-template-columns
               - grid-template-areas
          */
     grid-template-areas: none | itemnames;
          /*Especifica áreas dentro de un elemento grid.*/
     grid-template-columns: none | auto | max-content | min-content | length | initial | inherit;
          /*Especifica el número (y el ancho) de las columnas en un diseño grid.*/
     grid-template-rows: none | auto | max-content | min-content | length | initial | inherit;
          /*Especifica el número (y las alturas) de las filas en un diseño de cuadrícula.*/
}

.elemento {
     height: auto | length | initial | inherit;
          /*Establece la altura de un elemento. No incluye relleno, bordes o márgenes.*/
}

.elemento {
     hanging-punctuation: none | first | last | allow-end | force-end | initial | inherit;
          /*Especifica si se puede colocar un signo de puntuación fuera del cuadro de línea al principio o al final de una línea completa de texto.*/
     hyphens: none | manual | auto | initial | inherit;
          /*Define si se permite la separación silábica para crear más oportunidades de ajuste suave dentro de una línea de texto.*/
     image-rendering: auto | smooth | high-quality | crisp-edges | pixelated | initial | inherit;
          /*Especifica el tipo de algoritmo que se utilizará para escalar la imagen.*/
}

@import {
     url | string list-of-mediaqueries;
}

     /*Regla que le permite importar una hoja de estilo a otra hoja de estilo.*/

.elemento {
     isolation: auto | isolate | initial | inherit;
          /*Define si un elemento debe crear un nuevo contenido de apilamiento.*/
}

@keyframes name {
     keyframes-selector {css-styles;}
}
     /*Regla que especifica el código de animación.*/

.elemento {
     left: auto | length | initial | inherit;
          /*Afecta la posición horizontal de un elemento posicionado. Esta propiedad no tiene efecto en elementos no posicionados.*/
     letter-spacing: normal | length | initial | inherit;
          /*Aumenta o disminuye el espacio entre caracteres en un texto.*/
     list-style: list-style-type list-style-position list-style-image | initial | inherit;
          /*Es una abreviatura de las siguientes propiedades:
               - list-style-type
               - list-style-position
               - list-style-image
          */
     list-style-image: none | url | initial | inherit;
          /*Reemplaza el marcador de elemento de lista con una imagen.*/
     list-style-position: inside | outside | initial | inherit;
          /*Especifica la posición de los marcadores de elementos de lista (viñetas).*/
     list-style-type: list-style-type: value;
          /*Especifica el tipo de marcador de elemento de lista en una lista.*/
}

.elemento {
     mask-image: none | image | url | initial | inherit;
          /*Especifica una imagen que se utilizará como capa de máscara para un elemento.*/
     mask-mode: match-source | luminance | alpha | initial | inherit;
          /*Especifica si la imagen de la capa de máscara debe tratarse como una máscara de luminancia o como una máscara alfa.*/
     mask-origin: border-box | content-box | padding-box | margin-box | fill-box | stroke-box | view-box | initial | inherit;
          /*Especifica la posición de origen (el área de posición de la máscara) de una imagen de capa de máscara.*/
     mask-position: mask-position: value;
          /*Establece la posición inicial de una imagen de máscara (en relación con el área de posición de la máscara).*/
     mask-repeat: repeat | repeat-x | repeat-y | space | round | no-repeat | initial | inherit;
          /*Establece sí o cómo se repetirá una imagen de máscara.*/
     mask-size: auto | size | contain | cover | initial | inherit;
          /*Especifica el tamaño de la imagen de la capa de máscara.*/
}

.elemento {
     max-height: none | length | initial | inherit;;
          /*Define la altura máxima de un elemento.*/
     max-width: none | length | initial | inherit;
          /*Define la anchura máxima de un elemento. */
     min-height: length | initial | inherit;
          /*Define la altura mínima de un elemento. */
     min-width: length | initial | inherit;
          /*Define la anchura mínima de un elemento. */
}

@media not | only type and (feature and | or | not mediafeature) {
     CSS-Code;
   }
     /*La regla se usa para aplicar diferentes estilos para diferentes tipos de medios/dispositivos.*/

.elemento {
     mix-blend-mode: normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | difference | exclusion | hue | saturation | color | luminosity;
          /*Especifica cómo el contenido de un elemento debe combinarse con su fondo principal directo.*/
     object-fit: fill | contain | cover | scale-down | none | initial | inherit;
          /*Se utiliza para especificar cómo se debe cambiar el tamaño de un <img> o <video> para que se ajuste a su contenedor.*/
     object-position: position | initial | inherit;
          /*Se usa junto con object-fit para especificar cómo se debe colocar un <img> o <video> con las coordenadas x/y dentro de su «propio cuadro de contenido».*/
     opacity: number | initial | inherit;
          /*Establece el nivel de opacidad de un elemento.*/
     order: number | initial | inherit;
          /*Especifica el orden de un artículo flexible en relación con el resto de los artículos flexibles dentro del mismo contenedor.*/
     orphans: integer | initial | inherit;
          /*Especifica el número mínimo de líneas que se deben dejar al final de una página o columna.*/
     outline: outline-width outline-style outline-color | initial | inherit;
          /*	Es una propiedad abreviada para:
                    - outline-width
                    - outline-style (obligatoria)
                    - outline-color
          */
     outline-color: invert | color | initial | inherit;
          /*Especifica el color de un contorno*/
     outline-offset: length | initial | inherit;
          /*Agrega espacio entre el contorno y el borde o borde de un elemento.*/
     outline-style: none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | inherit;
          /*Especifica el estilo de un outline.*/
     outline-width: medium | thin | thick | length | initial | inherit;
          /*Especifica el ancho de un contorno.*/
     overflow: visible | hidden | scroll | auto | initial | inherit;
          /*Especifica lo que debería suceder si el contenido desborda el cuadro de un elemento.*/
     overflow-wrap: normal | anywhere | break-word | initial | inherit;
          /*Especifica si el navegador puede o no dividir líneas con palabras largas, si desbordan el contenedor.*/
     overflow-x: visible | hidden | scroll | auto | initial | inherit;
          /*Especifica si se se agrega una barra de desplazamiento o se muestra el contenido de desbordamiento de un elemento de nivel de bloque, cuando se desborda en los ejes izquierdos y derechos.*/
     overflow-y: visible | hidden | scroll | auto | initial | inherit;
          /*Especifica si se se agrega una barra de desplazamiento o se muestra el contenido de desbordamiento de un elemento de nivel de bloque, cuando se desborda en los ejes inferiores y superiores. */
}

.elemento {
     page-break-after: auto | always | avoid | left | right | initial | inherit;
          /*Agrega un salto de página después de un elemento especificado.*/
     page-break-before: auto | always | avoid | left | right | initial | inherit;
          /*Agrega un salto de página antes de un elemento especificado.*/
     page-break-inside: auto | avoid | initial | inherit;
          /*Establece si se debe evitar un salto de página dentro de un elemento específico.*/
     perspective: length | none;
          /*Se utiliza para dar cierta perspectiva a un elemento posicionado en 3D.*/
     perspective-origin: x-axis y-axis | initial | inherit;
          /*Define desde qué posición el usuario está mirando el elemento posicionado en 3D.*/
     pointer-events: auto | none;
          /*Define si un elemento reacciona o no a los eventos de puntero.*/
     position: static | absolute | fixed | relative | sticky | initial | inherit;
          /*Especifica el tipo de método de posicionamiento utilizado para un elemento (estático, relativo, absoluto, fijo o pegajoso).*/
     quotes: none | string | initial | inherit;
          /*Establece el tipo de comillas para las citas.*/
     resize: none | both | horizontal | vertical | initial | inherit;
          /*Define si (y cómo) el usuario puede cambiar el tamaño de un elemento.*/
     right: auto | length | initial | inherit;
          /*Afecta la posición horizontal de un elemento posicionado. Esta propiedad no tiene efecto en elementos no posicionados.*/
     row-gap: length | normal | initial | inherit;
          /*Especifica el espacio entre las filas de la cuadrícula.*/
     scroll-behavior: auto | smooth | initial | inherit;
          /*Especifica si animar suavemente la posición de desplazamiento, en lugar de un salto directo, cuando el usuario hace clic en un enlace dentro de un cuadro desplazable.*/
     tab-size: number | length | initial | inherit;
          /*Especifica el ancho de un carácter de tabulación.*/
     table-layout: auto | fixed | initial | inherit;
          /*Define el algoritmo utilizado para diseñar las celdas, filas y columnas de la tabla.*/
}

.elemento {
     top: auto | length | initial | inherit;
          /*Afecta a la posición vertical de un elemento posicionado. Esta propiedad no tiene efecto en elementos no posicionados.*/
     transform: none | transform-functions | initial | inherit;
          /*Aplica una transformación 2D o 3D a un elemento.*/
     transform-origin: x-axis y-axis z-axis | initial | inherit;    
          /*Le permite cambiar la posición de los elementos transformados.*/
     transform-style: flat | preserve-3d | initial | inherit;
          /*Especifica cómo se representan los elementos anidados en el espacio 3D.*/
     transition: property duration timing-function delay | initial | inherit;
          /*Es una propiedad abreviada para:
               - transition-property
               - transition-duration
               - transition-timing-function
               - transition-delay
          */
     transition-delay: time | initial | inherit;
          /*Indica cuándo comenzará el efecto de transición.*/
     transition-duration: time | initial | inherit;
          /*Especifica cuántos segundos (s) o milisegundos (ms) tarda en completarse un efecto de transición.*/
     transition-property: none | all | property | initial | inherit;
          /*Indica el nombre de la propiedad CSS para el efecto de transición (el efecto de transición comenzará cuando cambie la propiedad CSS especificada).*/
     transition-timing-function: ;
          /*Especifica la curva de velocidad del efecto de transición.*/
}

.elemento {
     unicode-bidi: normal | embed | bidi-override | initial | inherit;
          /*Se usa junto con la propiedad direction para establecer o devolver si el texto debe anularse para admitir varios idiomas en el mismo documento.*/
     user-select: auto | none | text | all;
          /*Especifica si se puede seleccionar el texto de un elemento.*/
     vertical-align: baseline | length | sub | super | top | text-top | middle | bottom | text-bottom | initial | inherit;
          /*Establece la alineación vertical de un elemento.*/
     visibility: visible | hidden | collapse | initial | inherit;
          /*Indica si un elemento es visible o no.*/
     white-space: normal | nowrap | pre | pre-line | pre-wrap | initial | inherit;
          /*Especifica cómo se maneja el espacio en blanco dentro de un elemento.*/
     widows: integer | initial | inherit;
          /*Especifica el número mínimo de líneas que se deben dejar en la parte superior de una página o columna.*/
}

.elemento {
     word-break: normal | break-all | keep-all | break-word | initial | inherit;
          /*Especifica cómo deben dividirse las palabras al llegar al final de una línea.*/
     word-spacing: normal | length | initial | inherit;
          /*Aumenta o disminuye el espacio en blanco entre las palabras*/
     word-wrap: normal | break-word | initial | inherit;
          /*Permite que las palabras largas se puedan dividir y pasar a la siguiente línea.*/
     writing-mode: horizontal-tb | vertical-rl|vertical-lr;
          /*Especifica si las líneas de texto se disponen horizontal o verticalmente.*/
     z-index: auto | number | initial | inherit;
          /*Especifica el orden de apilamiento de un elemento. Un elemento con mayor orden de apilamiento siempre está delante de un elemento con menor orden de apilamiento.*/
}

.elemento {
     width: auto | value | initial | inherit;
          /*Establece el ancho de un elemento.*/
}